NEXT_PUBLIC_SUPABASE_URL=https://oqkojvazjtqjgjrufxug.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_8jh8eQtXQfD6Lt4PKv_2pQ_oYLAz5LX
NEXT_PUBLIC_SITE_URL=https://onewaysolutions-eg.com
NEXT_PUBLIC_ADMIN_URL=https://admin.onewaysolutions-eg.com
